{% extends 'base.html' %}

{% block title %} Add Page {% endblock %}

{% load bootstrap %}

{% block body_block %}
<div class="page-header">
    <h1>Add a Page</h1>
</div>
    {% if category %}
        <form role="form" id="page_form" method="post" action="{% url 'add_page' category.slug %}">
            {% csrf_token %}
            {{ form|bootstrap }}

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create page</button>
        </div>
        </form>
    {% else %}
        This category doesn't exist! Cannot add a page.
    {% endif %}
{% endblock %}