{% extends 'base.html' %}

{% block body_block %}
    {% if category %}
        <h1>{{ category_name }}</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
                <li><a href="{% url "goto"%}?page_id={{ page.id }}">{{ page.title }}</a> - {{ page.views }} views </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
        <br />

        <p>
        <strong id="like_count">{{ category.likes }}</strong> people like this category

        {% if user.is_authenticated %}
            <button id="likes" data-catid="{{category.id}}" class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Like
            </button>
        {% endif %}
        </p>

        {% if user.is_authenticated %}
            <a href="{% url 'add_page' category.slug %}">Add a Page</a>
        {% endif %}
    {% else %}
        This category does not exist! <br />
        <a href="{% url 'add_category' %}">Add category.</a>
    {% endif %}


    <hr>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="panel panel-primary">
            <br/>
            <form class="form-inline" id="user_form" method="post" action="{% url 'category' category.slug%}">
                {% csrf_token %}
                <!-- Display the search form elements here -->
                <input class="form-control" type="text" size="70" name="query" value="" id="query" style="margin-left: 20px"/>
                <input class="btn btn-primary" type="submit" name="submit" value="Search" />
                <br />
            </form>
            <div class="panel">
                {% if result_list %}
                <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                    <!-- Display search results in an ordered list -->
                    <div class="panel-body">
                        <div class="list-group">
                            {% for result in result_list %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h4>
                                    <p class="list-group-item-text">{{ result.summary }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}